---
language: php

sudo: false

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

env:
  - DEPS=normal
  - DEPS=highest
  - DEPS=lowest

matrix:
  fast_finish: true

branches:
  only:
    - master

cache:
  directories:
  - $HOME/.composer/cache

notifications:
  email: false
  slack:
    secure: U9WociTUzfzCZIWpYUyf2W4Jc+Ek4DBC0Dm7v+jr9zDTwevyRsglKerrkfgaCgDPP18Ma+j2ANEyPf25HRReJdOmSi02H5PTtcT2DnXUanr8REklrznbXADwayEjN32vArywqRrUq94GioDY3bKXgWve61wt/4YsQMTwZjL09AQ=

before_install: composer selfupdate --preview

install:
  - if [ "$DEPS" = "normal" ]; then composer install --no-interaction; fi;
  - if [ "$DEPS" = "highest" ]; then composer update --no-interaction; fi;
  - if [ "$DEPS" = "lowest" ]; then composer update --no-interaction --prefer-lowest --prefer-stable; fi;

before_script:
  - mkdir -p build/logs
  - mysql -e 'create database `test-jam-auth`;'
  - mysql test-jam-auth < tests/database/structure/mysql.sql

script: vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml
